home {

}

body {
    background-color: #524a4ad9;
}

#myDiv {
  height: 400px;
  width: 500px;
  margin-left: 100px;
  border-radius: 25px;
}

.first-heading {
  color: white;
  margin-left: 100px;
  font-size: 16px;
  padding-top: 47px;
}
